
*.iml
Interface/.idea/dictionaries/Sebastiaan_Holthuis.xml
Interface/.idea/misc.xml
Interface/.idea/modules.xml
Interface/.idea/vcs.xml
Interface/.idea/workspace.xml
*.pyc
Interface/venv/Scripts/activate
Interface/venv/Scripts/activate.bat
Interface/venv/pyvenv.cfg
Interface/venv/Scripts/Activate.ps1
Interface/port_thread.pyc
Interface/port_thread.pyc
Interface/venv/Scripts/deactivate.bat
Interface/venv/Scripts/pythonw.exe
Interface/venv/Scripts/python.exe
Interface/port_thread.pyc
